<div class= "text-center">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/278887/pexels-photo-278887.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);">
    <div class="container">
      <h1>Welcome to "The longest word game"</h1>
    </div>
  </div>
  <h1>New Game:</h1>
  <h2><%=@letters%></h2>
  <form action="/score" method="post" data-turbo="false">
    <input type="text" name="answer" value = "<%= params[:answer] %>">
    <input type="submit" value="Submit!" class= "btn btn-success">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%= hidden_field_tag :letters, @letters %>
  </form>
  <div class="rules">
    <h2>Rules:</h2>
    <p>Use the letters given to you to form an English word.
      In order for the word to be valid, this must:</p>
    <ul>
      <li>Be present in the dictionary</li>
      <li>Contain only letters given to you by the game</li>
    </ul>
  </div>
</div>
